<?xml version="1.0"?>
<config>
    <modules>
        <VS7_CustomFields>
            <version>0.1.0</version>
        </VS7_CustomFields>
    </modules>
    <frontend>
        <layout>
            <updates>
                <vs7_customfields>
                    <file>vs7_customfields.xml</file>
                </vs7_customfields>
            </updates>
        </layout>
        <translate>
            <modules>
                <VS7_CustomFields>
                    <files>
                        <default>VS7_CustomFields.csv</default>
                    </files>
                </VS7_CustomFields>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <vs7_customfields>
                    <file>vs7_customfields.xml</file>
                </vs7_customfields>
            </updates>
        </layout>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <vs7_customfields_insert_customfields>
                        <class>VS7_CustomFields_Model_Observer</class>
                        <method>insertCustomFieldsAdmin</method>
                    </vs7_customfields_insert_customfields>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </adminhtml>
    <global>
        <events>
            <sales_quote_save_before>
                <observers>
                    <save_before>
                        <type>singleton</type>
                        <class>VS7_CustomFields_Model_Observer</class>
                        <method>saveQuoteBefore</method>
                    </save_before>
                </observers>
            </sales_quote_save_before>
            <sales_quote_save_after>
                <observers>
                    <save_after>
                        <type>singleton</type>
                        <class>VS7_CustomFields_Model_Observer</class>
                        <method>saveQuoteAfter</method>
                    </save_after>
                </observers>
            </sales_quote_save_after>
            <sales_quote_load_after>
                <observers>
                    <load_after>
                        <type>singleton</type>
                        <class>VS7_CustomFields_Model_Observer</class>
                        <method>loadQuoteAfter</method>
                    </load_after>
                </observers>
            </sales_quote_load_after>
            <sales_model_service_quote_submit_after>
                <observers>
                    <sales_model_service_quote_submit_after>
                        <type>singleton</type>
                        <class>VS7_CustomFields_Model_Observer</class>
                        <method>saveOrderAfter</method>
                    </sales_model_service_quote_submit_after>
                </observers>
            </sales_model_service_quote_submit_after>
            <sales_order_load_after>
                <observers>
                    <sales_order_load_after>
                        <type>singleton</type>
                        <class>VS7_CustomFields_Model_Observer</class>
                        <method>loadOrderAfter</method>
                    </sales_order_load_after>
                </observers>
            </sales_order_load_after>
        </events>
        <models>
            <vs7_customfields>
                <class>VS7_CustomFields_Model</class>
                <resourceModel>vs7_customfields_mysql4</resourceModel>
            </vs7_customfields>
            <vs7_customfields_mysql4>
                <class>VS7_CustomFields_Model_Mysql4</class>
                <entities>
                    <quote>
                        <table>sales_quote_custom</table>
                    </quote>
                    <order>
                        <table>sales_order_custom</table>
                    </order>
                </entities>
            </vs7_customfields_mysql4>
        </models>
        <resources>
            <vs7_customfields_setup>
                <setup>
                    <module>VS7_CustomFields</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vs7_customfields_setup>
            <vs7_customfields_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vs7_customfields_write>
            <vs7_customfields_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vs7_customfields_read>
        </resources>
        <blocks>
            <vs7_customfields>
                <class>VS7_CustomFields_Block</class>
            </vs7_customfields>
        </blocks>
        <helpers>
            <vs7_customfields>
                <class>VS7_CustomFields_Helper</class>
            </vs7_customfields>
        </helpers>
    </global>
</config>